.Sidebar-Content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.Sidebar-Content>.top {
    border-bottom: 1px solid black;
}

.Sidebar-Content>.middle {
    flex: 1 1 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Sidebar-Content>.bottom {
    text-align: center;
    padding-bottom: 10px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #e7e7e7;
    color: gray;
    cursor: default;
}

.login {
    background-color: #4CAF50; /* Green */
}

.logout {
    background-color: #f44336; /* Red */
}

.Save-Button, .Edit-Button, .New-Button, .Browse-Button {
    background-color: #6896ba;
    margin-bottom: 10px;
}