.Header {
    width: 100%;
}

.Header>.Left-Section {
    float: left;
}

.Header>.Right-Section {
    float: right;
}

.Header>.Right-Section> * {
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}